/src/gui/frontend/node_modules
.venv/
venv/
*.pyc
src/gui/frontend/.env
src/gui/backend/.env
.env
,jsonl
.json
.log
/src/gui/backend/session_logs
/src/gui/frontend/build
/src/web/backend/session_logs
