flask
flask-cors
scipy
tensorboard
pyyaml
httpx
tqdm
pandas
matplotlib
seaborn
gdown
gradio
wafw00f
beautifulsoup4
scikit-learn
python-dotenv
hdbscan
sentence-transformers
langchain-community
langchain-core
langchain-text-splitters
faiss-cpu
python-docx
docx2txt
pypdf
sqlglot
google.genai